h1 {
    color:rgb(red, green, blue);
}
h2{
    color: #025157 ;
}
p{
    color: #8b8b8bcc;
}
button{
    background-color:#025157;
    color: #fff;
    font-family: sans-serif;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px 12px 14px;
    text-align: center;
}
.html{
    background-color: #9ba0ad; 
} 
.logo {
    width: 15%;
}
.fixed-header{
    position: fixed;
    background-color: #fffbf7;
    top: 0;
    left: 0;
    right: 0;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 90%;
    line-height: 45px;
    font-family: sans-serif;
}
.header{
    margin: 40px 20px 0 20px;
    font-size: 0;
    line-height: 45px;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}

.navbar li{
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }  
.actions {
    width: 15%;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
.actions a{
    color: #67b54b;
    margin-left: 10px;
    margin-right: 10px;
}
.actions button {
    background-color:#67b54b;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px 12px 14px;
}

.promo video{
    margin-right: 30px;
    margin-bottom: 10px;}
.promo{
    display:flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    background: red;
}
.texto  h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 48px;
    color:#025157;
}
.texto > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;

}
.texto > form{
    display: flex;
}
.ex-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ex-video img{
    width: 120px;
    margin-top: 10px;
}
 





.contenedor {
    background: #a1d683;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px auto;
}
.izq > h2{
    font-family: "Alegreya", serif;
    color: #025157 ;
    font-size: 51px;
    line-height: 61px;
    font-weight: bolder;
}
.izq > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 18px;
    line-height: 1.5;
}
.izq{
    flex-grow: 1;
    background: #343434;
    border: 4px solid red;
}

.der{
    flex-grow: 1;
    background: #fff;
    border-radius: 2%;
    
}
.dertext{
    background: #fff;
   
}




