h1 {
    color:rgb(red, green, blue);
}
h2{
    color: #025157 ;
}
p{
    color: #8b8b8bcc;
}
button{
    background-color:#025157;
    color: #fff;
    font-family: sans-serif;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px 12px 14px;
    text-align: center;
}
.body{
    background-color: #9ba0ad; 
} 
.logo {
    width: 15%;
}
.fixed-header{
    position: fixed;
    background-color: #fffbf7;
    top: 0;
    left: 0;
    right: 0;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 90%;
    line-height: 45px;
    font-family: sans-serif;
}
.header{
    margin: 40px 20px 0 20px;
    font-size: 0;
    line-height: 45px;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}

.navbar li{
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }  
.actions {
    width: 15%;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
.actions a{
    color: #67b54b;
    margin-left: 10px;
    margin-right: 10px;
}
.actions button {
    background-color:#67b54b;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px 12px 14px;
}

.promo video{
    margin-right: 30px;
    margin-bottom: 10px;}
.promo{
    display:flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.texto  h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 48px;
    color:#025157;
}
.texto > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;

}
.texto > form{
    display: flex;
}
.ex-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ex-video img{
    width: 120px;
    margin-top: 10px;
}
 
.contenedor {
    background: #a1d683;
    display: flex;
    /*flex-flow: column wrap;*/
    align-items: center;
    justify-content: space-around;
    flex: 1 1 70%;
    margin: 0px auto;
    /*padding: 50px ;*/
  
    
}
.derecha > h2{
    font-family: "Alegreya", serif;
    color: #025157 ;
    font-size: 51px;
    line-height: 61px;
    font-weight: bold;
}
.derecha  > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
}
.derecha {
    padding: 10%;

    /*padding: 30px 300px 20px 200px;*/

}
.itemcon {
  
    background:#fff;
    border-radius: 2%;
    margin-right: 30px;
}
.itemcon  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #343434;
    font-size: 22px;
    line-height: 1.5;
}
.imagen {
    
 width: 500px;
  height: auto;
  /*width: 100%;*/

    
}
.itemcon > img{
    width: 100%;
  
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}








/*----------------------Reto 4 sesion 4-------------------------*/
.features{
    display: grid;
   /* grid-template-columns: 300px 300px;*/
    grid-template-columns: repeat(3, 330px) / repeat(2, 1fr);
   /*grid-template-columns: 500px 1fr; */
   /*grid-template-columns: 1fr 1fr;*/
   background: #025157;
   padding: 5% 10%;
}
.feature-art{
    background-color: #fff;
    margin: 100px;
    width: 95%;
    height: 95%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .navbar, .actions{
        display: none; 
    } 
    h1{
        font-size: 30px;
    }
    main{
        margin-top: 130px;
    }
        /** Media queries previos al banner **/
    .banner > img {
        
          width: 100%;
    }
    .publish > form{
        flex-direction: column;
        text-align: center;
    }
    .promo{
        flex-direction: column;
        max-width: 90%;
    }
    .ex-video > video{
        width:100%
    }
    .publish {
        margin-top: 10px;
    }
}


/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}



