h1 {
    color:rgb(red, green, blue);
}
h2{
    color: #025157 ;
}
p{
    color: #8b8b8bcc;
}
button{
    background-color:#025157;
    color: #fff;
}
.html{
    background-color: #9ba0ad; 
} 
.logo {
    width: 15%;
}
.fixed-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}
.header{
    margin: 40px 20px 0 20px;
    font-size: 0;
    line-height: 45px;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}
li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }  
.actions{
    width: 15%;
    text-align: center;
    font-size: 14px;
}
.actions a{
    color: #67b54b;
}
.actions button {
    background-color:#67b54b;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px 12px 14px;
}
section{
    display: flex;
}
.promo video{
    margin-right: 30px;
    margin-bottom: 10px;}
.promo{
    display:flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.texto  h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 48px;
    color:#025157;
}
.texto > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;

}
.texto > form{
    display: flex;
}
.ex-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ex-video img{
    width: 120px;
    margin-top: 10px;
}